<div *ngIf="product.title" class="card" style="width: 18rem;">
    <img  *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.price | currency:'BRL':'symbol' }}</p>
    </div>
    <div *ngIf="displayActions" class="card-footer">
        <button *ngIf="!product.isItemOnCart; else displayQuantity;" class="btn btn-secondary btn-block" (click)="addToCart()">Add to cart</button>
        <ng-template #displayQuantity>
            <items-quantity
                [quantity]="quantity"
                [productKey]="key">
            </items-quantity>
        </ng-template>
    </div>
</div>
