<div class="row">
    <div class="col-md-6">
        <form #f="ngForm" [formGroup]="newProductForm">
            <div class="form-group">
                <label for="title">Title</label>
                <input formControlName="title" type="text" id="title" class="form-control" (ngModelChange)="onClick()">
                <div class="alert alert-danger"
                *ngIf="newProductForm.get('title')?.touched && newProductForm.get('title')?.invalid">
                    Title is required.
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input formControlName="price" type="number" id="price" class="form-control" (ngModelChange)="onClick()">
                </div>
                <div class="alert alert-danger"
                *ngIf="newProductForm.get('price')?.touched && newProductForm.get('price')?.invalid">
                    <div *ngIf="newProductForm.get('price')?.errors?.['required']">Price is required.</div>
                    <div *ngIf="newProductForm.get('price')?.errors?.['min']">Price should be at least R$ 0,01.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select formControlName="category" id="category" class="form-control">
                    <option value="">Choose an option</option>
                    <option *ngFor="let c of categories$ | async" [value]="c.key">{{ c.payload.val().name }}</option>
                </select>
                <div class="alert alert-danger"
                *ngIf="newProductForm.get('category')?.touched && newProductForm.get('category')?.invalid">
                    Category is required.
                </div>
            </div>
            <div class="form-group">
                <label for="imageUrl">Image Url</label>
                <input formControlName="imageUrl" type="text" id="imageUrl" class="form-control" (ngModelChange)="onClick()">
            </div>
            <div class="alert alert-danger"
            *ngIf="newProductForm.get('imageUrl')?.touched && newProductForm.get('imageUrl')?.invalid">
                <div *ngIf="newProductForm.get('imageUrl')?.errors?.['required']">Image URL is required.</div>
                <div *ngIf="newProductForm.get('imageUrl')?.errors?.['pattern']">Please, insert a valid image URL.</div>
            </div>
            <p>
                {{ f.value | json}}
            </p>
            <button class="btn btn-primary" [disabled]="!newProductForm.valid" (click)="save()">Save</button>
            <button class="btn btn-danger ml-4" *ngIf="id" (click)="delete()">Delete</button>
        </form>
    </div>
    <product-card [product]="product" [display-actions]="false"></product-card>
</div>
